{% extends './base.html'%}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'english_note/styles.css' %}">


{% for Classification in Classification_list%}
<div class='Classification-list'>

    <h3 class='list-title'>{{Classification}}</h3>
    <div class='sentenc-list'>
        {% for sentenc in sentenc %}
            {% if sentenc.Classification == Classification%}

                <div class='sentenc'>
                    <a href="/english_note/open/{{sentenc.id}}/">{{sentenc.korean_sentence}}</a>
                    {{sentenc.Memorization}}<br>
                </div>

            {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}

<br><br>
{% endblock content %}